<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for satisfying your craving with Craver, <%= @user.name %></h1>
    <p>
      You have successfully placed an order and your Crave is on the way!<br>
    </p>

    <p>Thanks for ordering and have a great day!</p>
  </body>
</html>
