<h1>Edit Cart</h1>

<% @cart_items.each do |cart_item| %>
    <li><%= cart_item.name %> $<%= cart_item.price%></li>
<% end %>
<p><%= link_to "Continue Shopping", categories_path %></p>
<%= button_to "Check Out", cart_edit_path, method: 'delete' %>