// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.clearer { clear: both; margin: 0px; line-height: 0px; padding: 0px; }

.containerTop {
    width: auto;
    height: 300px;
    align-content: left;
    background-color: blueviolet;
}

.container {
    width: auto;
    height: auto;
    align-content: left;
    
}

.eachItem {
    width: 220px;
    height: auto;
    float: left;
    background-color: darkorange;
}
.clearer { 
    clear: both; 
    margin: 0px; 
    line-height: 0px; 
    padding: 0px; }
