// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.clearer { clear: both; margin: 0px; line-height: 0px; padding: 0px; }

.container {
    width: 850px;
    height: auto;
    margin: auto;
}

.containerTop {
    width: 850px;
    height: 375px;
    background-color: blueviolet;
    float: left;
}

.containerBottom {
    width: 850px;
    height: auto;
    margin: auto;

}

.containerNew {
    width: 850px;
    height: 300px;
    padding-left: 50px;
    background-color: rgba(218, 186, 243, 0.363);
}

.eachItem {
    width: 220px;
    height: auto;
    float: left;
    padding: 0px 30px 15px 30px;
}


