// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$font-stack:    Helvetica, sans-serif;
$primary-color: rgb(46, 34, 214);
body {
  background-color: lightgoldenrodyellow;
  font: 100% $font-stack;
  color: $primary-color;
}
h1 {
    text-align: center;
}

.container {
    width: 800px;
    height: auto;
    align-content: left;
}

.eachItem {
    width: 220px;
    height: auto;
    float: left;
}

