<h1>Welcome to Craver</h1>

<h3>Select a crave below:</h3>
<% @categories.each do |cat| %>
<ul>
<li><%= link_to cat.name, category_path(cat)%></li>
</ul>
<%end%>

<ul>
<li><% new_craves.each do |crave|%></li>
<%crave.name%>
</ul>
<%end%>


<p>Method for Trending</p>
<p>Method for Most Popular</p>
<p>Method for Newest Items - 5</p>
