<h1>Welcome to Craver</h1>

<h3>Select a crave below:</h3>
<% @categories.each do |cat| %>
<ul>
<li><%= link_to cat.name, category_path(cat)%></li>
</ul>
<%end%>


<h3>New craves:</h3>
<% items_all.each do |item|%>
<ul>
<%=item.name%>
</ul>
<%end%>

<h3>Trending craves:</h3>
<%favorites_all.each do |fav|%>
<ul>
<%=fav.name%>
</ul>
<%end%>


<p>Done!! Method for Newest Items - 5</p>
<p>Method for Most Popular</p>
<p>Method for Trending</p>
